<tr>
  <td>
    <%= sale.name %>
  </td>
  <td>
    <%= sale.starts_on %>
  </td>
  <td>
    <%= sale.ends_on %>
  </td>
  <td>
    <% if sale.finished? %>
      <span style="color:red">Finished</span>
    <% elsif sale.upcoming? %>
      <span style="color:orange">Upcoming</span>
    <% else %>
      <span style="color:green">Active</span>
    <% end %>
  </td>
  <td>
    <%= sale.percent_off %>%
  </td>
  <td>
    Button
  </td>
</tr>
