<h1>Welcome to the Admin Dashboard!</h1>
<br>
<h2>Current Number of Products for Sale: <%=@products%></h2>
<br>
<h2>Current Number of Categories: <%=@categories%></h2>
<br>
<a href="/products">See the current line of products here</a>
